<h2>Received Applications</h2>

{{#each reverse as |application|}}
<div class="application">
  <div class="name">For Group: {{application.name}}</div>
  <div class="contactMethod">Method of Contact: {{application.contactMethod}}</div>
  <div class="contact">Contact: {{application.contact}}</div>
  <div class="application">Application: {{application.application}}</div>
</div>
<br>
{{/each}}
{{outlet}}
