<h2>Feed</h2>

{{#each reverse as |group|}}
<div class="group">
  <div class="name">Group: {{group.name}}</div>
  <div class="game">Game: {{group.game}}</div>
  <div class="preferences">Preferences:</div>
  <div class="preferencesText">{{group.preferences}}</div>
  <div class="desc">Description: </div>
  <div class="descText">{{group.tldr}}</div>
  <br>
  <button {{action 'apply' group.owner group.name}} class="btn btn-primary">Apply</button>

</div>
<br>
{{/each}}


{{outlet}}
