<h2>Groups You've Created</h2>

{{#each reverse as |group|}}
{{#if (eq session.currentUser.uid group.owner)}}
<div class="group">
  <div class="name">Group: {{group.name}}</div>
  <div class="game">Game: {{group.game}}</div>
  <div class="preferences">Preferences: {{group.preferences}}</div>
  <div class="tldr">Description: {{group.tldr}}</div>
</div>
<br>
{{/if}}
{{/each}}

{{outlet}}
